@model GestaoContratos.Models.ContractViewModel
@using GestaoContratos.Models.Enums;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<ContractType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NegotiatedQuantity" class="control-label"></label>
                <input asp-for="NegotiatedQuantity" class="form-control" />
                <span asp-validation-for="NegotiatedQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NegotiatedValue" class="control-label"></label>
                <input asp-for="NegotiatedValue" class="form-control" />
                <span asp-validation-for="NegotiatedValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label asp-for="File" class="control-label"></label>
                    <a asp-action="DownloadContractFile" asp-route-id="@(Model.Id)">
                        @(Model.FileName)
                    </a>
                </div>

                <input class="form-control" style="height: auto !important" type="file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

